Checks: '-*,
        readability-*,
        modernize-*,
          -modernize-use-trailing-return-type,
        bugprone-*,
          -bugprone-easily-swappable-parameters,
        # clang-analyzer-*,
        # concurrency-*,
        # cppcoreguidelines-*,
        # misc-*
        '
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/|test/'
FormatStyle: none
